*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Sans-serif;
}
:root{
    --corborda: rgb(211, 211, 211);
    --corSubBordaNav:rgb(17, 154, 196);
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

main{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.navbar ul{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    gap:15px;
    line-height: 24px;
}

hr.dashed {
    border-top: 3px dashed var(--corborda);
}


.navbar img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navbar a:hover, .navbar img:hover{
    border-bottom: 2px solid var(--corSubBordaNav);
}

/*logo central*/

.logotipo {
    background: url("https://img.olympics.com/images/image/private/t_16-9_1280/f_auto/primary/ufiinqivfn8ig30anqpe") no-repeat;
    background-size:cover;
    width: 99vw;
    aspect-ratio: 3/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
    margin-top:0;
    box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
}

.infoLogitipo{
    box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    background-color: white;
}

.infoLogitipo img{
    width: 30vw;
    display: flex;

}

.lermais{
    transition: all 0.3s;
    margin-top: 5%;
    padding: 5px;
    border: none;
    background-color: rgb(18, 144, 202);
    color: white;
    box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
}
.lermais:hover{
    background-color: skyblue;
    cursor: pointer;
    transform: scale(1.1);
}

/*footer*/
footer{
    display: grid;
    place-items: center;
    color: white;
    background-color: black;
    text-align: center;
    padding: 50px;
    width: 100%;
    margin: 0;
}

.redes_container{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 20px;
    width: 50%;
}
.redes_container > .rede{
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.2);
    display: grid;
    place-items: center;
    padding: 20px;
    border-radius: 50%;
    
}
.redes_logo{
    width: 20px;
    aspect-ratio: 1/1;
}
#github:hover{
    background-color: gray;
}
#instagram:hover{
    background: linear-gradient(to bottom right, rgb(255, 0, 221),rgb(154, 26, 185),blue);
}
#twitter:hover{
    background-color: rgb(255, 255, 255);
}
@media screen and (max-width:700px) {
    .redes_container{
        width: 90%;
    }   
}
@media screen and (min-width:1500px) {
    .logotipo{
        aspect-ratio:5/4;
    }
}