

/*artigos*/

main{
    margin-top: 5%;
    margin-inline: 20%;
}
section{
    margin-top: 2%;
    height: 100%;
}
section div{
    text-align: justify;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 2%;
    
}
article p{
    padding: 10px;
    width: 100%;
}
/*poliformismo*/
.imgMod{
    height: 200px;
}
.normal,.inverted{
    display: flex;
    align-items:center;
}

.normal img{
    -webkit-clip-path: circle(80.8% at 86% 25%);
    clip-path: circle(80.8% at 86% 25%);
}
.inverted img{
    -webkit-clip-path: circle(80.8% at 17% 28%);
    clip-path: circle(80.8% at 17% 28%);
}

@media screen and (max-width:700px) {
    main{
        margin-inline: 5%;
    }
}
@media screen and (max-width:500px) {
    .normal,.inverted{
        flex-direction: column;
    }
    .normal img,.inverted img{
        -webkit-clip-path: none;
        clip-path: none;
    }
}






