
:root{
    --corformas: rgb(201, 201, 201);
}
.logotipo {
    background: url(../imagens/fundoJogos.jpg);
    background-size:contain;
    width: 99vw;
    aspect-ratio: 3/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
    box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
}
h2{ 
    
    font-size: 2rem;
    margin-bottom: 2%;
    text-align: center;
}
article p{
    text-align: justify;
    margin-bottom: 3%;
    font-size: 1.2rem;
    word-wrap: break-word;
}
main{
    margin-top: 10px;
}

/*Artigos*/
.artigo_container{
    margin: 0;
    margin-bottom: 5%;
    padding: 20px;
    width: 100%;
    background-color: var(--corformas);
    box-shadow: 2px 15px 22px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 15px 22px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 15px 22px 2px rgba(0,0,0,0.75);
}
.artigo_container img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}
.artigo_container div{
    display: grid;
    place-items: center;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.falico{
    border-radius: 0% 25% 25% 0% / 50% 50% 50% 0%;
}
.inverted{
    border-radius:  25% 0% 0% 25% / 50% 0% 0% 50% ;
}
.inverted div{
    grid-template-columns: 2fr 3fr;
}