*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.navbar ul{
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    gap:15px;
    line-height: 24px;
}

hr.dashed {
    border-top: 3px dashed rgb(211, 211, 211);
}


.navbar img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navbar a:hover{
    border-bottom: 2px solid rgb(17, 154, 196);
}
/*logo central*/

.logotipo {
    background: url("https://img.olympics.com/images/image/private/t_16-9_1280/f_auto/primary/ufiinqivfn8ig30anqpe") no-repeat;
    background-size:cover;
    width: 99vw;
    aspect-ratio: 3/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
    box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
}

.infoLogitipo img{
    width: 30vw;
    display: flex;


    
}
/*artigos*/
main{
    margin-top: 5%;
    margin-inline: 20%;
}
section{
    height: 100%;
    
}
section div{
    text-align: justify;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 2%;
    
}

/*poliformismo*/
.imgMod{
    width: 50%;
}

.normal img{
    -webkit-clip-path: circle(80.8% at 86% 25%);
clip-path: circle(80.8% at 86% 25%);
}
.inverted{
    flex-direction: row-reverse;
}
.inverted img{
    -webkit-clip-path: circle(80.8% at 17% 28%);
    clip-path: circle(80.8% at 17% 28%);
}

/*botoes*/
.lermais{
    transition: all 0.3s;
    margin-top: 5%;
    padding: 5px;
    border: none;
    background-color: rgb(18, 144, 202);
    color: white;
    box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 1px 11px -1px rgba(0,0,0,0.39);
}
.lermais:hover{
    background-color: skyblue;
    cursor: pointer;
    transform: scale(1.1);
}



